.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 150px;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
    
}

.logo {
    font-size: 24px;
    color: #f9FAF8;
    font-family: 'Roboto', sans-serif;
    gap: 40px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    justify-content: end;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5E7EB;
}

.content {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9FAF8;
    padding-top: 100px;
    padding-right: 25px;
}

.text {
    font-size: 18px;
    color: #e5E7EB;
    padding-right: 25px;
}

button {
    border: none;
    border-radius: 6px;
    background: #3882f6;
    color: #f9FAF8;
    padding: 6px 20px;
    font-weight: bold;
}

.button1 {
    padding-top: 10px;
}

.left, .right {
    display: flex;
    flex-direction: column;
  }

  .pic {
    display: flex;
    justify-content: flex-end;
    padding-top: 100px;
  }

  .body1 {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 30px;
    padding-bottom: 80px;
  }

  .random {
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: extra-bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 20px;

  }

  .info {
    max-width: 200px;
  }

  .body2 {
    background-color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
  }

  .quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding-top: 80px;
    padding-left: 160px;
    padding-right: 160px;
  }

  .author {
    font-weight: bold;
    font-size: 25px;
    padding-left: 160px;
    padding-right: 160px;
    text-align: end;
    padding-bottom: 80px;
  }